<html data-dpr="1" style="font-size: 41.4px;"><head>
		<meta charset="UTF-8">
		<title>视频详情</title>
		<!-- UC强制全屏 -->
    	<meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    	<meta name="x5-fullscreen" content="true">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">
        <meta name="referrer" content="never">
		<link rel="stylesheet" href="http://web.jzhwy.cn/wei/wei/css/base.css?id=2018020113">
		<link rel="stylesheet" href="http://web.jzhwy.cn/wei/wei/css/dropload.css?id=2018020113">
		<link rel="stylesheet" href="http://web.jzhwy.cn/wei/wei/css/detail.css?id=2018020113">


    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"></head><body>

    <!--内容-->
    <div class="content">
        <!--视频-->
        <div class="video">
            <iframe data-src="https://v.qq.com/iframe/player.html?vid=d03368qmoeu" src="https://v.qq.com/iframe/player.html?vid=d03368qmoeu" frameborder="0" scrolling="no" style="width:100%;height:100%;" id="iframe1">
            </iframe>
        </div>
        <!--Google上面的页面跳转-->
        <div class="vbanner" style="align-items: center">
            <a class="vbn" href="" style="width: auto">
                <div class="tui"></div>



                            </a><a href="http://www.jzhxl.cn/4cd2b4a2d0467838b23a4a5478aaac5c/17" style="width: 75%">
                                <div class="vtitle">怎么看出女人被很多男人睡过?</div>



            </a>
                
            <a class="gbn" href="http://www.jzhxl.cn/4cd2b4a2d0467838b23a4a5478aaac5c/22">
                <div class="guanzhu">
                    <p>2018-01-24</p>
                    <div class="zhus"></div>
                </div>
            </a>
        </div>
        <!--google广告-->
     <!--   <div class="google">
            <ul>
               &lt;!&ndash; <li>
                    <a href=""><img src=""/></a>
                </li>
                <li>
                    <a href=""><img src=""/></a>
                </li>
                <li>
                    <a href=""><img src=""/></a>
                </li>&ndash;&gt;
            </ul>
            <a th:href="${viodesurl.adurl}">
            <span class="adv" th:text="${viodesurl.title}">
            </span>
            </a>
        </div>-->
        <!--当前文章标题-->
        <div class="detailtitle vdetailtitle">
            <h3>别让自拍成为你生命中最后一张照片</h3>
        </div>
        <!--<div class="detailtime">
            <p>发布时间 : <span th:text="${#dates.format(context.ttime, 'yyyy-MM-dd')}"></span></p>
            <p >阅读量 : <span th:text="${context.numScan}"></span></p>
            &lt;!&ndash;@thymesVar id="textValue" type=""&ndash;&gt;
        &lt;!&ndash;    <span th:text="${textValue}"></span>&ndash;&gt;
        </div>-->
    </div>
    <!--推荐-->
    <div class="recommedtitle">
        <h3><span class="reimg"></span>推荐文章</h3>
    </div>

        <div class="recommand">
            <ul>
                <li>
                    <a href="http://www.jzhxl.cn/4cd2b4a2d0467838b23a4a5478aaac5c/34">
                        <div class="title">
                            <div>
                                <h3>表姐的欲火只有我才能扑灭，我慢慢掰开他的双腿..</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/04(1).jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://www.jzhxl.cn/4cd2b4a2d0467838b23a4a5478aaac5c/18">
                        <div class="title">
                            <div>
                                <h3>贱货，最是喜欢给老子惹事，看今天晚上老子不找几个人干死你！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/02(3).jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/69/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>女子被男子欺负，监控拍下她绝望的一刻</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012553.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/36/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>这样做萝卜丸子才好吃，小姐姐教你秘诀，美味就是这么简单！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012507.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/35/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>饭店大厨是这样炒青菜的，至多翻锅6下，难怪又青又脆</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012506.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/43/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>农村小伙直播盖房子，10万网友纷纷围观：你家房子真大！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012516.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/29/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>年度神曲问世！三分钟带你回顾2016热门事件【囧闻一箩筐】</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012537.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/28/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>看完《前任三》能哭成这样的人，我相信都是经历过撕心裂肺的痛</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012536.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/33/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>老外在四川炒了份盒饭, 吃的开始怀疑人生, 被当做顶级美食!</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012504.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/30/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>好吃到尖叫的茄子煲，咸香爽口超好吃，一次能吃3碗饭！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012501.png" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/44/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>温馨！表情宠溺动作轻柔 小哥哥抱哄妹妹入睡</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012517.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/45/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>488米！比张家界玻璃栈道恐怖一万倍 去过的都“跪”了</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012518.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/64/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>马云：我们每天纳税一个亿 腾讯王者荣耀：巧了，我们也是</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012546.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/40/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>夏天猪肉照样可以不放进冰箱？学会了这招，让你每天吃上新鲜猪肉</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012513.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/65/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>7年前，他曾红遍大江南北，被英评为中国最酷男人，如今变成这样！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012547.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/67/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>女中学生遭人轮流猛扇耳光 当地教育局：是在开玩笑</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012551.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/42/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>“隐性饥饿”你听过吗？你家宝宝可能正在经历！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012515.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/68/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>上海90后女孩失去双腿，只剩下上半身，身患残疾仍有很多追求者</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012552.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/38/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>辣妈刘芸活力全开 湘妹子烧制盐煎肉</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012509.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/32/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>舌尖上的中国：寺庙和尚的一日三餐</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012503.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/62/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>3分钟，看懂马云的阿里巴巴商业布局，刘强东的京东加油！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012544.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/70/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>从第一女儿到总统：4分钟看完朴槿惠政治生涯</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012555.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/41/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>香菜保存难？农村大妈教我一招，不用冰箱，还能越放越新鲜！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012514.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/39/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>生活季：冬天的栗子吃不完怎么保存？不是放冰箱，这3招才有用</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012512.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/46/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>别让自拍成为你生命中最后一张照片</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012519.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/27/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>当卡通中的人物出现在现实中与宝宝互动，会发生什么？</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012535.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/6/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>蚂蚁花呗、京东白条，借钱不还，天经地义？</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012511.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/34/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>美食|教你在家做麻辣够劲的水煮肉片，简单易学</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012505.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/61/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>中关村创业屌丝逆袭百亿大佬 只因穿对衣服</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012542.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/60/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>打车APP估值百亿引关注，用户体验之后给差评！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012541.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/9/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>淮秀帮：仙女必看：我的人设决不能崩！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012532.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/63/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>外卖哥凌晨冒雨送餐顾客失联 一条短信令人心酸</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012545.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/25/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>胥渡吧：妙妙躺枪 不忍直视的自拍PS党</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012533.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/26/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>【淮秀帮】《花千骨》的正确打开方式！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012534.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/37/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>帮你爱上苦瓜的3种做法，为三伏做好准备！</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012508.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/31/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>农村美食：一颗白菜一个西红柿，炒出香喷喷的美食</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012502.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/videos/66/4cd2b4a2d0467838b23a4a5478aaac5c">
                        <div class="title">
                            <div>
                                <h3>羽绒服脏了不用愁，只需抹点这个，立马干净如新</h3>
                            </div>
                            <div class="detail">
                                <p class="money"><span class="jing">

                            </span>1000000+    阅读</p>
                            </div>
                        </div>
                        <div class="titleimg">
                            <img src="http://ouuy5vigh.bkt.clouddn.com/2018012548.jpg" alt="">
                            <span class="reply"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


	    <script src="http://web.jzhwy.cn/wei/wei/js/jquery.min.js?id=2018020113"></script>
        <script src="http://web.jzhwy.cn/wei/wei/js/fixScreen750.js?id=2018020113"></script>
       <!-- <script  src="http://web.jzhwy.cn/wei/wei/js/returns.js?id=2018020113"></script>-->
<!--        <script src="http://web.jzhwy.cn/wei/wei/js/voide.js"></script>-->
<!--    <script  src="http://web.jzhwy.cn/wei/wei/js/returns.js"></script>-->
	 <!--   <script src="../static/js/dropload.min.js"></script>-->
	

</body></html>